# BotFather'dan olingan token
BOT_TOKEN=8964951354:AAEiBmKkcQ8gMqOJ5AdyRkg3_x0-2tQ3YII

# Sizning (adminning) Telegram ID raqamingiz.
# Bir nechta admin bo'lsa, vergul bilan ajrating: 111111111,222222222
# ID'ni bilish uchun Telegram'da @userinfobot ga /start yozing
ADMIN_IDS=6603287711
